@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 30px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body {
  overflow-x: hidden;
  position: relative;
  background: #fff !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
button,
a {
  color: #000;
}
.fancybox__container {
  z-index: 9999999999;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
// colors
$main: #009640;
$main20: #00964033;
$main5: #0096400d;
$second: #006633;
$text: #666b88;
$white: #ffffff;
$dark: #1d1d1b;
$gray: #777777;
$lightGray: #eeeeee;
$inputHint: #aaaaaa;
$inputBg: #f8f8f8;
$inputStroke: #e9e9e9;
$transition: all 0.4s ease-in-out;
$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

// ********************************** //
// ********************************** //
// ********************************** //

.preloader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .preloaderImg {
    width: 100px;
    height: 100px;
    mask-image: url("../images/fav.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    position: relative;
    @media screen and (max-width: 1024px) {
      width: 80px;
      height: 80px;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      z-index: 2;
      background-color: $main;
      transform: translateY(100%);
      animation: slide-up 2.5s forwards;
      @media screen and (max-width: 1024px) {
        width: 80px;
        height: 80px;
      }
    }
    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      object-fit: contain;
      background-image: url("../images/fav.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(1) opacity(0.2);
    }
    @keyframes slide-up {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0%);
      }
    }
  }
}
header {
  transition: $transition;
  background: $white;
  display: flex;
  flex-direction: column;

  nav {
    height: 80px;
    @include space-between();
    border-bottom: 1px solid $inputBg;
    .logo {
      height: 40px;
      flex: 1;
    }
    .nav-links {
      display: flex;
      justify-content: center;
      flex: 3;
      height: 100%;
      @media screen and (max-width: 992px) {
        position: absolute;
        top: 80px;
        height: calc(100vh - 80px);
        background: $white;
        z-index: 99;
        flex-direction: column;
        width: 100%;
        left: 0;
        transform: translateX(-100%);
        transition: $transition;
        &.show {
          transform: translateX(0);
        }
        li {
          height: 60px !important;
        }
      }
      li {
        @include centerFlex();
        height: 100%;
        padding: 0 20px;
        a {
          font-weight: 500;
          font-size: 12px;
          text-transform: uppercase;
          &:hover,
          &.active {
            color: $main;
          }
        }
      }
    }
    .util {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      li {
        width: 40px;
        height: 40px;
        @include centerFlex();
        border-radius: 50%;
        position: relative;
        background: $inputBg;
        cursor: pointer;
        a,
        span {
          font-size: 16px;
          color: $main;
          width: 100%;
          height: 100%;
          @include centerFlex();
        }
        .count {
          position: absolute;
          top: 0px;
          right: 2px;
          background: $main;
          color: $white;
          @include centerFlex();
          border-radius: 50%;
          width: 16px;
          height: 16px;
          font-size: 10px;
        }
        .notification_dropDown {
          width: 250px;
          height: 0;
          overflow: hidden;
          transition: $transition;
          background: $white;
          position: absolute;
          top: 48px;
          right: -12px;
          border-radius: 8px;
          box-shadow: $shadow;
          z-index: 9;
          &.show {
            height: 300px;
          }
          .inner {
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            height: 100%;
          }
          h6 {
            color: $main;
            font-size: 14px;
            margin: 0;
          }
          ul {
            width: 100%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              display: none;
            }
            li {
              display: flex;
              justify-content: flex-start;
              width: 100%;
              gap: 8px;
              margin-bottom: 8px;
              padding: 0;
              background: none;
              border-radius: none;
              height: auto;
              .img img {
                height: 48px;
                object-fit: contain;
              }
              .content {
                display: flex;
                flex-direction: column;
                h6 {
                  margin-bottom: 2px;
                  font-size: 14px;
                }
                p {
                  color: $text;
                  font-size: 10px;
                  line-height: 16px;
                  margin-bottom: 2px;
                }
                small {
                  font-size: 10px;
                  line-height: 16px;
                  color: $gray;
                }
              }
            }
          }
        }
        &.toggler {
          display: none;
          @media screen and (max-width: 992px) {
            display: flex;
            span {
              flex-direction: column;
              gap: 5px;
              padding: 0 8px;
              align-items: flex-end;
              small {
                width: 24px;
                height: 2px;
                background: $gray;
                display: block;
                transition: $transition;
                &:last-child {
                  width: 18px;
                }
              }
            }
          }
          &.hihglight {
            span small {
              background: $main !important;
            }
          }
        }
      }
    }
  }
  .search_wrapper {
    transition: $transition;
    height: 80px;
    background-image: linear-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.8)
      ),
      url("../images/search.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0 0 24px 24px;
    background-repeat: no-repeat;
    form {
      opacity: 1 !important;
      mix-blend-mode: normal !important;
      transform: translateY(52px);
      background: $white;
      box-shadow: 0px 2px 8px 0px #00000029;
      padding: 4px;
      width: 100%;
      border-radius: 200px;
      .search_field {
        height: 48px;
        background: $inputBg;
        border-radius: 100px;
        display: flex;
        gap: 8px;
        input {
          @include clearInput();
          height: 100%;
          width: 100%;
        }
        button {
          @include clearInput();
          min-width: 48px;
          height: 48px;
          border-radius: 50%;
          background: $main;
        }
      }
    }
  }
  &.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background: $white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    animation: 0.4s sticky ease-in-out;
    .search_wrapper {
      display: none;
    }
  }
  @keyframes sticky {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
main {
  .auth_section {
    padding: 60px 4px;
    .auth_form {
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 36px;
        h4 {
          font-size: 32px;
          color: $dark;
          margin-bottom: 8px;
        }
        p {
          color: $text;
          text-align: center;
          span {
            color: $main;
            font-weight: 500;
          }
        }
      }
      .nav {
        border-bottom: 2px solid $inputStroke;
        .nav-link {
          position: relative;
          box-shadow: none;
          font-size: 14px;
          font-weight: 500;
          padding: 8px !important;
          &:hover {
            color: $dark;
          }
          &::after {
            background: $main;
            content: "";
            position: absolute;
            bottom: -2px;
            width: 0;
            transform: translateX(-50%);
            left: 50%;
            height: 2px;
            transition: $transition;
          }
          &.active {
            background: none;
            color: $main;
            &::after {
              width: 100%;
            }
          }
        }
      }
      .tab-content {
        padding: 16px 0 0;
      }

      .save_btn {
        @include clearInput();
        width: 100%;
        border-radius: 12px;
        height: 48px;
        background: $main;
        color: $white;
      }
      .continue {
        padding: 16px 0 12px;
        color: $text;
        a {
          color: $main;
        }
      }
      .orSignwith {
        padding: 16px 0 16px;
        position: relative;
        @include centerFlex();
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: $inputStroke;
          top: 50%;
          left: 0;
          z-index: -1;
          transform: translateY(-50%);
        }
        span {
          color: $text;
          background: $white;
          padding: 0 16px;
        }
      }
      .otp-container {
        @include space-between();
        padding: 0 0 24px;
        width: 100%;
        gap: 8px;
        .otp-input {
          width: 100%;
          height: 70px;
          flex: 1;
          border-radius: 4px;
          @media (max-width: 576px) {
            height: 60px;
          }
          text-align: center;
          background: #f4f4f4;
          font-size: 24px;
          font-weight: 700;
          color: $main;
          outline: none;
          border: none;
          &::-webkit-inner-spin-button {
            display: none;
          }
        }
      }
      .resend {
        padding-bottom: 12px;
      }
      .platForms {
        display: flex;
        gap: 12px;
        a {
          height: 54px;
          border-radius: 12px;
          background: $inputBg;
          flex: 1;
          @include centerFlex();
          gap: 12px;
          &:hover {
            color: $dark;
          }
          @media (max-width: 576px) {
            p {
              font-size: 12px;
            }
            img {
              height: 16px;
            }
          }
        }
      }
      .select_type {
        width: 100%;
        height: 100%;
        cursor: pointer;
        input {
          display: none;
          &:checked + .content {
            background: $main5;
            border: 1px solid $main;
            img {
              filter: brightness(1) invert(0);
            }
          }
        }
        .content {
          border: 1px solid $inputBg;
          transition: $transition;
          @include centerFlex();
          flex-direction: column;
          background: $inputBg;
          height: 100%;
          padding: 24px 16px;
          border-radius: 12px;
          h6 {
            margin: 0;
            color: $dark;
            font-size: 18px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            color: $text;
            line-height: 24px;
          }
          img {
            transition: $transition;
            margin-bottom: 16px;
            filter: brightness(0) invert(0);
          }
        }
      }
      .plans {
        margin-bottom: 24px;
        display: flex;
        overflow: scroll;
        gap: 16px;
        &::-webkit-scrollbar {
          display: none;
        }
        .plan {
          min-width: 300px;
          padding: 16px 12px;
          border-radius: 12px;
          border: 1px solid $gray;
          .img {
            @include centerFlex();
            gap: 16px;
            flex-direction: column;
            border-bottom: 1px solid $inputStroke;
            img {
              height: 80px;
            }
            h5 {
              color: $dark;
              font-size: 16px;
              font-weight: 700;
            }
          }
          ul {
            padding: 16px 0;
            border-bottom: 1px solid $inputStroke;
            li {
              @include space-between();
              .benefit {
                display: flex;
                align-items: center;
                gap: 4px;
                line-height: 24px;
                color: $dark;
                font-weight: 500;
              }
              span {
                color: $dark;
                font-weight: 600;
              }
              &.dashed {
                .benefit {
                  text-decoration: line-through;
                  color: $text;
                  i {
                    visibility: hidden;
                  }
                }
                span {
                  display: none;
                }
              }
            }
          }
          .price {
            @include space-between();
            padding: 16px 0 0;
            h5 {
              font-size: 22px;
              font-weight: 700;
              color: $main;
              margin: 0;
              span {
                color: $dark;
                margin-left: 4px;
                font-size: 16px;
                font-weight: 700;
                &:nth-child(2) {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 16.41px;
                  margin: 4px;
                }
              }
            }
            button {
              @include clearInput();
              width: 100px;
              height: 36px !important;
              border-radius: 100px;
              background: $main;
              color: $white;
              height: 48px;
            }
          }
        }
      }
    }
  }
  .explore {
    padding: 60px 0;
    .asideFilter {
      width: 100%;
      border-radius: 12px;
      padding: 24px;
      background: $inputBg;
      .accordion-item {
        margin-bottom: 12px;
        border-radius: 8px;
        &:last-child {
          margin: 0;
        }
        .categories {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }
        .checkBoxField {
          @include space-between();
          label {
            color: $dark;
            font-size: 14px;
            font-weight: 500;
            img {
              margin-right: 4px;
              height: 20px;
              width: 30px;
              border-radius: 2px;
            }
          }
        }
      }
    }
    .profile_card {
      border: 1px solid $inputStroke;
      padding: 4px;
      gap: 8px;
      border-radius: 100px 0 0 100px;
      display: flex;
      align-items: center;
      .img {
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .owner {
        h6 {
          color: $dark;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0;
        }
        .title_age {
          display: flex;
          gap: 12px;
          align-items: center;
          color: $text;
          font-size: 12px;
          font-weight: 400;
        }
        .label {
          height: 32px;
          background: $main5;
          padding: 4px 8px;
          gap: 4px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          img {
            height: 26px;
          }
          h6 {
            color: $main;
            margin: 0;
            font-size: 12px;
          }
        }
      }
    }
    .sortBy {
      cursor: pointer;
      color: $text;
      font-size: 14px;
      font-weight: 600;
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
    .closeFilter {
      display: none;
      @include clearInput();
      align-self: flex-end;
      color: $dark;
      font-size: 18px;
      padding: 0 8px;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
    .filter {
      @media screen and (max-width: 768px) {
        position: fixed;
        bottom: -100%;
        z-index: 9999;
        background: $inputBg;
        @include space-between();
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        left: 0;
        transition: $transition;
      }
      &.active {
        bottom: 0;
      }
    }
  }
  .profile_section {
    padding: 60px 0;
    .profile_card {
      box-shadow: 0px 4px 16px 0px #0000001a;
      border-radius: 200px;
      padding: 8px;
      display: flex;
      align-items: center;
      gap: 12px;
      .img {
        height: 120px;
        width: 120px;
        overflow: hidden;
        border-radius: 50%;
        @media screen and (max-width: 576px) {
          width: 100px;
          height: 100px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .owner {
        h5 {
          color: $dark;
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 0;
          @media screen and (max-width: 576px) {
            font-size: 20px;
          }
        }
        .title_age {
          display: flex;
          gap: 16px;
          align-items: center;
          color: $text;
          font-size: 14px;
          font-weight: 400;
        }
        .social {
          margin-top: 4px;
          display: flex;
          gap: 8px;
          align-items: center;
          color: $text;
          font-size: 14px;
          font-weight: 400;
          a {
            @include centerFlex();
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $dark;
            color: $white;
            font-size: 12px;
            font-weight: 400;
            transition: $transition;
            @media screen and (max-width: 576px) {
              width: 26px;
              height: 26px;
            }
            &:hover {
              background: $main;
            }
          }
        }
      }
    }
    .bio {
      margin-top: 12px;
      background: $inputBg;
      padding: 16px 12px;
      border-radius: 12px;
      h6 {
        color: $text;
        font-size: 16px;
        font-weight: 700;
      }
      p {
        color: $dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
      .info {
        gap: 24px;
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        .info_place {
          h6 {
            margin-bottom: 4px;
          }
          .titles {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            .title {
              background: $white;
              color: $dark;
              padding: 4px 12px;
              gap: 8px;
              border-radius: 8px;
            }
          }
        }
      }
      &.career {
        .info {
          grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }
      }
      &.education {
        h6 {
          margin-bottom: 8px;
        }
        .edu_card {
          width: 100%;
          background: $white;
          border: 1px solid $inputStroke;
          padding: 12px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          h5 {
            font-size: 14px;
            color: $dark;
            font-weight: 600;
            margin-bottom: 4px;
          }
          p {
            color: $text;
          }
          .image {
            img {
              height: 64px;
            }
          }
        }
      }
      .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 12px;
        @media screen and (max-width: 576px) {
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 3 / 2;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
    .float_call {
      width: 400px;
      position: fixed;
      bottom: 16px;
      left: 50%;
      backdrop-filter: blur(10px);
      background: #ffffff60;
      padding: 12px;
      border-radius: 8px;
      transform: translateX(-50%);
      display: flex;
      gap: 8px;
      @media screen and (max-width: 576px) {
        width: 100%;
        bottom: 0;
      }
      a {
        flex: 1;
        gap: 6px;
        background: #bde0fc;
        border-radius: 100px;
        padding: 8px;
        color: $dark;
        font-weight: 500;
        @include centerFlex();
        &:last-child {
          background: #c4e7c0;
        }
        &:hover {
          color: $dark;
        }
      }
    }
  }
  .sec_title {
    @include space-between();
    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 700;
    }
    a {
      font-size: 14px;
      font-weight: 400;
      color: $main;
    }
  }
  .companies {
    padding: 60px 0;
    .companies_grid {
      gap: 12px;
      display: flex;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .company_card {
      background: $inputBg;
      padding: 16px 24px;
      @include centerFlex();
      min-width: 206px;
      max-width: 206px;
      gap: 12px;
      border-radius: 12px;
      flex-direction: column;
      .img {
        img {
          height: 70px;
        }
      }
      h6 {
        color: $dark;
        font-weight: 600;
        margin: 0;
      }
      &.company {
        width: 100%;
        min-width: auto !important;
        max-width: auto !important;
        img {
          height: 54px !important;
        }
      }
    }
  }
  .categories_section {
    .categories_grid {
      gap: 16px;
      display: flex;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .category_card {
        min-width: 250px;
        overflow: hidden;
        border-radius: 12px;
        position: relative;
        .img {
          width: 100%;
          height: 100%;
          aspect-ratio: 1 / 1;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 20%;
        }
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.2) 61.5%,
            #000000 100%
          );
          display: flex;
          align-items: flex-end;
          padding: 14px;
          h6 {
            color: $white;
            margin: 0;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .latest_cvs {
    padding: 40px 0;
    .profile_card {
      border: 1px solid $inputStroke;
      padding: 4px;
      gap: 8px;
      border-radius: 100px 0 0 100px;
      display: flex;
      align-items: center;
      .img {
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .owner {
        h6 {
          color: $dark;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0;
        }
        .title_age {
          display: flex;
          gap: 12px;
          align-items: center;
          color: $text;
          font-size: 12px;
          font-weight: 400;
        }
        .label {
          height: 32px;
          background: $main5;
          padding: 4px 8px;
          gap: 4px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          img {
            height: 26px;
          }
          h6 {
            color: $main;
            margin: 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}
.modal {
  .modal-content {
    .modal-body {
      input {
        @include clearInput();
        width: 100%;
        height: 48px;
        border: 1px solid $inputStroke;
        background: $inputBg;
        border-radius: 8px;
        padding: 0 12px;
        margin-bottom: 12px;
      }
      padding: 8px;
    }
    .modal-footer {
      padding: 0 8px 8px;
      button {
        width: 100%;
        background: $main;
        color: $white;
        height: 48px;
      }
    }
  }
}
input[type="checkbox"] {
  width: 16px;
  appearance: none;
  position: relative;
  cursor: pointer;
  &::after {
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    top: 50%;
    content: "";
    font-family: "FontAwesome";
    width: 16px;
    height: 16px;
    border: 1px solid $inputStroke;
    border-radius: 2px;
    font-size: 10px;
    @include centerFlex();
    color: $main;
  }
  &:checked::after {
    content: "\f00c";
    background: $main;
    color: #fff;
    border-color: $main;
  }
}
input[type="radio"] {
  width: 16px;
  appearance: none;
  position: relative;
  cursor: pointer;
  &::after {
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    top: 50%;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid $inputStroke;
    border-radius: 50%;
  }
  &:checked::after {
    background: $main;
    border-color: $main;
  }
}
.stars {
  ul {
    display: flex;
    line-height: 16px;
    gap: 4px;
    li {
      line-height: 16px;
    }
  }
  i {
    color: #ffd500;
    font-size: 12px;
  }
}
.explore_inCompany {
  padding-top: 20px !important;
}
.company_profile {
  padding-top: 60px;
  .profile_card {
    padding: 8px;
    border-radius: 8px;
    background: $inputBg;
    display: flex;
    align-items: center;
    gap: 12px;
    .img {
      height: 104px;
      width: 104px;
      padding: 12px;
      border-radius: 8px;
      background: $white;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 104px;
      h6 {
        margin: 0;
      }
      p {
        margin: 0;
        img {
          height: 16px;
        }
      }
      .call {
        display: flex;
        gap: 12px;
        a {
          gap: 6px;
          background: #bde0fc;
          border-radius: 8px;
          padding: 4px 16px;
          color: $dark;
          font-weight: 500;
          &:last-child {
            background: #c4e7c0;
          }
          &:hover {
            color: $dark;
          }
        }
      }
    }
  }
  .bio_card {
    padding: 16px;
    border-radius: 8px;
    background: $inputBg;
    p {
      line-height: 24px;
      margin: 0;
    }
  }
}
.create_resume {
  padding-top: 60px;
  .wrapper {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 12px;
    display: flex;
    background: radial-gradient(
      60.11% 241.83% at 90.6% 28.57%,
      rgba(0, 150, 64, 0.35) 0%,
      #009640 100%
    );
    .content {
      height: 100%;
      width: 100%;
      @include space-between();
      h1 {
        margin: 0;
        font-size: 32px;
        color: $white;
      }
      p {
        margin: 0;
        font-size: 16px;
        color: $white;
      }
      .avatar {
        height: 100%;
        width: 140px;
        img {
          height: 100%;
        }
      }
    }
    .thumb {
      position: absolute;
      top: 0;
      right: 0;
      width: 140px;
      height: 100px;
      background-size: cover;
      background-image: url(../images/thumb.png);
    }
  }
}
.create_resume_form {
  padding: 60px 0;
  .nav_wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      z-index: -1;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 1px;
      background: $inputStroke;
    }
  }
  .nav {
    @include space-between();
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 60px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .nav-link {
    white-space: nowrap;
    display: flex;
    padding: 8px 4px;
    gap: 8px;
    background: $white;
    transition: $transition;
    .step {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      transition: $transition;
      @include centerFlex();
      border: 1px solid $dark;
      color: $dark;
    }
    &.active,
    &:hover {
      background: $white;
      box-shadow: none;
      color: $main !important;
      .step {
        border: 1px solid $main;
        color: $white;
        background: $main;
      }
    }
  }
}
.card_form {
  border: 1px dashed $inputStroke;
  border-radius: 8px;
  padding: 8px;
  background: $white;
  h5 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    color: $text;
  }
}
.save_changes {
  border: 1px solid $dark !important;
  color: $dark !important;
  height: 44px;
  transition: $transition;
  white-space: nowrap;
  border-radius: 8px;
  &:hover {
    background: $dark !important;
    color: $white !important;
  }
}
.save_changes_publish {
  background: $main;
  color: $white;
  white-space: nowrap;
  height: 44px;
  border-radius: 8px;
  min-width: 216px;
  &:hover {
    background: $main !important;
    color: $white !important;
  }
  @media screen and (max-width: 576px) {
    min-width: 0;
  }
}
.levels_grid {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  .level_label {
    cursor: pointer;
    input {
      display: none;
      &:checked + .content {
        border: 1px solid $main;
        color: $main;
        background: $main5;
      }
    }
    .content {
      transition: $transition;
      padding: 8px 12px;
      border-radius: 8px;
      border: 1px solid $inputStroke;
    }
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
.add_btn {
  height: 36px;
  padding: 0 16px;
  border-radius: 8px;
  color: $white !important;
  cursor: pointer;
  background: $main;
  @include centerFlex();
}
.actitvity_card {
  border-radius: 8px;
  border: 1px solid $inputStroke;
  padding: 12px;
  @include space-between();
  .content {
    gap: 16px;
    display: flex;
    @media screen and (max-width: 576px) {
      gap: 12px;
    }
    .img {
      @include centerFlex();
      img {
        height: 64px;
        @media screen and (max-width: 576px) {
          height: 48px;
        }
      }
    }
    .name_time {
      display: flex;
      flex-direction: column;
      h6 {
        margin: 0;
        font-size: 18px !important;
        color: $dark;
        font-size: 14px;
        font-weight: 700;
      }
      p {
        line-height: 24px;
        margin: 0;
        color: $text;
        font-size: 14px;
        font-weight: 400;
        span {
          line-height: inherit;
        }
      }
    }
  }
}
.actions {
  gap: 12px;
  display: flex;
  span {
    padding: 4px;
    @include clearInput();
    i {
      font-size: 18px;
    }
    &.edit {
      color: #6c757d;
    }
    &.delete {
      color: red;
    }
  }
}
.image_change {
  padding: 12px;
  @include centerFlex();
  .image_upload {
    width: 148px;
    height: 148px;
    position: relative;
    border-radius: 50%;
    border: 1.5px solid $inputStroke;
    @include centerFlex();
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
    h4 {
      font-size: 28px;
      margin: 0;
      font-weight: 900;
      color: $inputHint;
    }
    input {
      display: none;
    }
    label {
      position: absolute;
      background: $main;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      cursor: pointer;
      @include centerFlex();
      i {
        font-size: 16px;
        color: $white;
      }
      right: 6px;
      bottom: 12px;
    }
  }
}
.input_field {
  display: flex;
  gap: 8px;
  position: relative;
  label {
    font-size: 14px;
    color: $dark;
    font-weight: 500;
    position: absolute;
    transition: 0.2s ease-in-out;
    top: 12px;
    left: 12px;
    padding: 0 32px 0 4px;
    background: $white;
    &.h {
      padding: 0 4px;
      top: -14px;
    }
  }
  input,
  select,
  textarea {
    outline: none !important;
    border: none !important;
    background: $white !important;
    width: 100% !important;
    height: 54px !important;
    border-radius: 12px !important;
    border: 1px solid $inputStroke !important;
    padding: 0 16px !important;
    font-size: 14px !important;
    margin: 0 !important;
  }
  textarea {
    padding-top: 16px;
    height: 132px;
  }
  .location {
    @include centerFlex();
    cursor: pointer;
  }
  .country_code_select {
    width: 160px;
    height: 54px;
    border-radius: 12px;
    border: 1px solid $inputStroke;
    padding: 0 16px;
    font-size: 14px;
    position: relative;
    label {
      position: absolute;
      top: -15px;
      left: 12px;
      background: $white;
    }
    .country-picker {
      pointer-events: none;
      visibility: hidden;
      border: none !important;
    }
  }
}
.skills_card {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid $inputStroke;
  .name_actions {
    @include space-between();
    h6 {
      color: $dark;
      font-weight: 600;
      margin: 0;
      font-size: 18px !important;
    }
  }
}
.star-rating-proficiency,
.star-rating-interest {
  display: flex;
  gap: 4px;
  label {
    cursor: pointer;
    color: #eee;
    &.active {
      color: gold;
    }
  }
  input {
    display: none;
    appearance: none;
  }
}
.rating_field {
  @include space-between();
  align-items: center;
  padding: 8px 0;
  h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
}
.work_samples_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
  .img_upload {
    width: 100%;
    height: 160px;
    border-radius: 8px;
    border: 1px solid $inputStroke;
    @include centerFlex();
    cursor: pointer;
    input {
      display: none;
    }
    img {
      height: 48px;
    }
  }
  .uploadedImage {
    width: 100%;
    height: 160px;
    border-radius: 8px;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
    @include centerFlex();
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .delete {
      position: absolute;
      top: 6px;
      right: 6px;
      background: $white;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      @include centerFlex();
      img {
        height: 16px;
        width: 16px;
      }
    }
  }
}
